@model ICollection<Thinh_Ecom.Models.CartModels>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    /* The popup form - hidden by default */
    .form-popup {
        display: none;

    }
</style>
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div>
                <button onclick="openForm()">Open</button>
                <button onclick="closeForm()">Close</button>
            </div>


            <div class="form-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                    <h1>Login</h1>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div>

</div>

<script>
        function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
</script>