@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Get 24/7 Support</p>
						<h1>AccessDenied</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <header>
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">You do not have access to this resource.</p>
            </header>
        </div>
    </div>
</div>
