@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Pizza</p>
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <h3>@ViewData["Title"], Please login in <a href="/login" class="btn btn-success">Success</a> </h3>
        </div>
    </div>
</div>