@page "/waittoconfirm"
@model Thinh_Ecom.Areas.Identity.Pages.Account.WaitConfirmEmailModel
@{
}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Get 24/7 Support</p>
						<h1>registered</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
<!-- features list section -->

<h3>Please confirm link of account in your email</h3>